body {
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    background-color: #FFFACD;
    background-image: url('../images/book.png');
    font-family: Tw Cen MT;
    font-size: 20px;
}
a {
  color: #00B700;
}
